html {
	background-color: aquamarine;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
}

canvas {
	background-color: beige;
}

input, p {
	margin: 0;
	padding: 0;
}

/* p {
	font-family: 'Courier New', Courier, monospace;
	font-size: large;
} */

#container {
	padding: 8px;
	gap: 30px;

	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;

	max-width: 100vw;
}

#right {
	min-width: 165px;
}


p, input, select {
	font-family: "Source Sans Pro", sans-serif;
	font-size: larger;
}

input, select {
	/* font-family: 'Courier New', Courier, monospace; */
	font-size: 1.3rem;
	padding: 5px 15px 5px 15px;
}


.hidden {
	display: none;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

.layout {
	margin-bottom: 15px;
}
